body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: LXGWWenKai !important;
}

/* 霞鹜文楷 Mono */
pre, code {
    font-family: LXGWWenKaiMono monospace !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: underline;
}
